@import "src/styles/variables";
@import "src/styles/development";

:root {
  font-size: 16px;
}

body {
  margin: 0;
  width: 320px;
  height: 600px;
  position: relative;
}

header.MuiAppBar-root {
  box-shadow: 0 5px 10px rgba($primary, 0.055),
    0 15px 30px rgba($primary, 0.125);
}

div.MuiBox-root {
  box-sizing: border-box;
}

div.MuiAlert-message {
  padding-top: 10px;
}

div.MuiSnackbar-root {
  bottom: 75px;
  left: 22.4px;
  right: 22.4px;
  position: absolute;
}

div.MuiToolbar-regular {
  min-height: 56px;
}

span.MuiFormControlLabel-label {
  margin-top: 2px;
}

button.MuiTab-root {
  opacity: 1;
}

.Mui-selected .MuiTab-wrapper {
  color: #ffffff;
}

.MuiTab-wrapper {
  color: #bcd3f7;
}
