@import "src/styles/variables";
@import "src/styles/development";

$popupWidth: 320px;
$popupHeight: 600px;

$hrHeight: 0.0625rem;
$alertPadding: 0.5rem;
$alertPosition: 4.75rem;
$controlTextAdjustment: 0.125rem;
$controlLabelAdjustment: 0rem;

$tabFontColor: #bcd3f7;
$tabFontColorActive: #ffffff;

:root {
  font-size: 16px;
}

body {
  margin: 0;
  width: $popupWidth;
  height: $popupHeight;
}

div.MuiAlert-message {
  padding-top: $alertPadding;
}

div.MuiSnackbar-root {
  position: absolute;
  bottom: $alertPosition;
}

hr.MuiDivider-root {
  height: $hrHeight;
  margin-top: -$hrHeight;
}

span.MuiFormControlLabel-label {
  margin-top: $controlTextAdjustment;
}

label.MuiFormControlLabel-root {
  margin-right: $controlLabelAdjustment;
}

.Mui-selected .MuiTab-wrapper {
  color: $tabFontColorActive;
}

.MuiTab-wrapper {
  color: $tabFontColor;
}
