@import "src/styles/variables";

$headerHeight: 55px;
$buttonColor: rgb(0 0 0 / 40%);
$buttonColorHover: rgb(0 0 0 / 70%);

.grow {
  flex-grow: 1;
}

.headerSpacing {
  height: $headerHeight;
  padding: 0 $edgeSpacing;

  > div {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: auto;
  }
}

.buttonStyles {
  svg {
    stroke-width: 1.5;
    color: $buttonColor;
    transition: color $defaultTransition;
  }

  &:hover svg {
    color: $buttonColorHover;
  }
}
