* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;

  color: inherit;
  font-size: inherit;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
