$primary: #1a73e8;
$secondary: #1357b0;

$darkText: #000000;
$darkTextMuted: #737373;

$lightText: #ffffff;

$lightBackground: #ffffff;
$lightBackgroundMuted: #ededed;

$defaultTransition: 0.3s ease-in-out;
