@import "variables";
@import "overrides";

$darkText: #000000;
$lightText: #ffffff;
$lightBackground: #ffffff;
$lightBackgroundMuted: #ededed;
$menuBorder: 1px solid rgba(0, 0, 0, 0.1);

$popupWidth: 320px;
$popupPadding: 16px;

$smallButtonSize: 25px;

body {
  color: $darkText;
  width: $popupWidth;
}

body,
button {
  font-family: "Comfortaa", sans-serif;
}

header {
  height: 50px;
  padding: 0 $popupPadding;
  background: $lightBackground;

  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background: none;
    width: $smallButtonSize;
    height: $smallButtonSize;

    opacity: 0.4;
    margin-bottom: 3px;
    border-radius: 50%;

    transition: opacity $defaultTransition;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

nav {
  display: flex;
  flex-direction: row;

  color: $darkText;
  font-size: 12px;

  button {
    flex-grow: 1;
    padding: 8px 0;
    text-align: center;

    border: $menuBorder;
    background: $lightBackgroundMuted;
    transition: background $defaultTransition;

    &.active {
      border-bottom: none;
    }

    &:hover,
    &.active {
      background: $lightBackground;
    }

    img {
      display: block;
      margin: 0 auto 8px auto;
    }
  }
}

section {
  height: 100px;
  padding: $popupPadding;
  background: $lightBackground;
}
