@import "variables";
@import "overrides";

$darkText: #000000;
$lightText: #ffffff;
$lightBackground: #ffffff;
$lightBackgroundMuted: #ededed;

$popupWidth: 320px;
$popupPadding: 16px;

body {
  color: $darkText;
  width: $popupWidth;
}

body,
button {
  font-family: "Comfortaa", sans-serif;
}

section {
  height: 100px;
  padding: $popupPadding;
  background: $lightBackground;
}
