@import "variables";
@import "overrides";
@import "tab-style";

$popupWidth: 320px;
$popupSpacing: 16px;
$stateImageSize: 28px;
$defaultImageSize: 24px;

body {
  color: $darkText;
  width: $popupWidth;
}

body,
button {
  font-family: "Comfortaa", sans-serif;
}

header {
  height: 50px;
  padding: 0 $popupSpacing;
  background: $lightBackground;

  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    opacity: 0.4;
    border-radius: 50%;
    transition: opacity $defaultTransition;

    &:hover {
      opacity: 0.7;
    }
  }
}

.tab-content {
  height: 350px;
  margin-top: 8px;
  padding: $popupSpacing;

  label {
    font-size: 14px;
    margin-right: 8px;
  }

  input {
    transform: scale(1.2);
  }
}

.logo-image {
  width: auto;
  height: $defaultImageSize;
}

.menu-image {
  width: auto;
  height: $defaultImageSize;
  margin: 0 auto 8px auto;
  display: block;
}

.state-button {
  width: $stateImageSize;
  height: $stateImageSize;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.pause-image {
    background-image: url("../images/pause-circle.svg");
  }

  &.play-image {
    background-image: url("../images/play-circle.svg");
  }
}
